
body{
  cursor: pointer;
}

.warparr{
  padding-top: 10px;
  margin-top: 30px;
  background-color: blue;
  height: 610px;
display: none;
}
.contain{
  position: relative;
}
.contain img{
  width: 60%;
  text-align: center;
  margin-left: 50px;
  transition: 1s;
}
.row{
  margin: 4px 0;
}
.start-game{
  margin: 200px 400px;
  background-color: greenyellow;
  border-color: greenyellow;
  outline-color:greenyellow ;
}
.contain{
  margin: 4px 0;
}
.contain .overlay{
  background-color: greenyellow;
  width: 60%;
  border: 1px solid  greenyellow;
position: absolute;
height: 100%;
left: 17%;
text-align: center;
line-height: 9;
box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

#popup{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: green;
  z-index: 2;
  background-color: rgba(0,0,0,.8);
  display: none;
  font-weight: bolder;
  text-shadow:3px 3px 10px white;

}

.play-again{
  border-radius: 20px ;
  border: none;
  outline: none;
  background-color: white;
  color: green;
}